// https://css-tricks.com/creating-svg-icon-system-react/
.no-padding {
    padding-right: 0;
    padding-left: 0;
}
.no-left-padding {
    padding-left: 0;
}
.no-right-padding {
    padding-right: 0;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
  
    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
}
.hide {
    display: none;
}
.relative-element {
    position: relative;
}
body {
    color: #44474c;
    background: #eff3f6;
    font-size: 14px;
    font-family: "SegoeUI-SemiLight-final","Segoe UI SemiLight","Segoe UI WPC Semilight","Segoe UI",Segoe,Tahoma,Helvetica,Arial,sans-serif;
    input, select {
        font-size: 14px;
    }
}
.grey-color {
    color: #8c939d;
}
.bright {
    border-right: 1px solid #e8e9eb;
}
header {
    background: #ffffff;
    height: 70px;
    border-bottom: 1px solid #e8e9eb;
    z-index: 100;
    .column,
    .flex-row {
        height: 70px;
    }
    .navbar {
        padding: 0;
    }
    .navbar-toggler {
        background: #3698d5;
        padding: 0;
        .navbar-toggler-icon {
            // font-family: "Font Awesome 5 Free";
            // content: "\f0c9";
            color: #fff;
            margin: 5px;
            background: url('../../public/media/sprite.png') center center no-repeat;
        }
        &.open-menu {
            background: #fff;
            z-index: 10000;
            &:hover {
                .navbar-toggler-icon {
                    background-color: #ccc;
                }
            }
        }
    }
    .navbar-brand {
        padding: 0;
        span {
            img {
                max-width: 95%;
            }
        }
    }
    #page-title {
        padding-left: 15px;
        & > * {
            margin: 0;
        }
    }
    .profile-information-links {
        .nav-item {
            padding: .35rem 1rem !important;
            border-right: 1px solid #e9e9eb;
            a.iconLink {
                color: #c7c8cd;
                padding: 0;
                text-align: center;
                line-height: 2;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                border: 1px solid #c7c8cd;
                &:hover {
                    border-color: #273745;
                    color: #273745;
                    .imageloader {
                        opacity: 0.65;
                    }
                }
            }
            &.profile-menu {
                border-right: 0 none;
                a.iconLink {
                    font-size: 16px;
                    width: 37px;
                    height: 37px;
                    overflow: hidden;
                    .imageloader {
                        margin-top: 5px;
                        .thumb-profile {
                            max-width: 100%;
                            margin-top: -12px;
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}
#sidebar-nav {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 400px;
    min-height: 100%;
    background: #fff;
    .modal-content {
        border: 0 none;
        border-radius: 0;
    }
    .navbar-collapse {
        height: 100%;
        width: 100%;
        padding-top: 50px;
    }
}
// .modal-backdrop {
//     background-color: transparent;
// }
#main-content {
    .icon {
        color: #0062cc;
        &.selected {
            color: #ccc;
        }
    }
    #header-app {
        margin-top: 50px;
        margin-bottom: 35px;
        h1 {
            font-size: 24px;
            font-weight: 400;
        }
        .svg-inline--fa {
            color: #bfc5dd;
            cursor: pointer;
        }
    }
    #main-table-wtb,
    #partner-info {
        background: #fff;
        border: 1px solid #e9eaec;
        border-radius: 5px; 
        position: absolute;
        width: 100%;
        top: auto;
        left: 15px;
        // height: calc(100vh - 200px);
        // overflow-y: scroll;
        padding-top: 30px;
        padding-bottom: 30px;
        &.show {
            display: flex;
        }
        &.hide {
            display: none;
        }
        h2 {
            font-size: 18px;
        }
    }
}
#main-search {
    margin-bottom: 35px;
    input {
        border-right: 0 none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
.react-bootstrap-table {
    margin-top: 15px;
    table {
        border-top: 1px solid #e8e8e8;
        thead {
            th {
                border: 0 none;
                border-bottom: 1px solid #e8e8e8;
                vertical-align: top;
                text-transform: uppercase;
                width: auto;
                padding: 15px 2px;
                &:first-child {
                    padding-left: 8px;
                }
                .form-control {
                    padding: 8px 10px;
                    font-size: 13px;
                    &.select-filter {
                        padding-top: 6px;
                        padding-bottom: 6px;
                    }
                }
                &.sortable,
                .react-bootstrap-table-sort-order {
                    .caret {
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: 2px;
                        vertical-align: middle;
                        border-top: 4px dashed;
                        border-top: 4px solid\9;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;
                    }
                }
                .react-bootstrap-table-sort-order {
                    cursor: pointer;
                    &.dropup {
                        .caret {
                            content: "";
                            border-top: 0;
                            border-bottom: 4px dashed;
                            border-bottom: 4px solid\9;
                        }
                    }
                }
                &.sortable {
                    cursor: pointer;
                    .dropdow {
                        .caret {
                            color: #ccc !important;
                            border-top: 4px dashed;
                            border-top: 4px solid\9;
                        }
                    }
                    .dropup {
                        .caret {
                            color: #ccc;
                            border-top: 0;
                            border-bottom: 4px dashed;
                            border-bottom: 4px solid\9;
                        }
                    }
                }
                &.sorting-asc,
                &.sorting-desc {
                    border-bottom: 2px solid rgb(50, 56, 104);
                }
                .filter-icon {
                    float: right;
                    border-left: 1px solid #e8e8e8;
                    padding-left: 10px;
                    padding-right: 10px;
                    color: #c2c9db;
                    font-size: 16px;
                }
            }
        }
        tbody {
            tr {
                border: 0 none;
                border-bottom: 1px solid #e8e8e8;
                &.expanding-row {
                    &:hover {
                        background-color: transparent;
                    }
                    td {
                        border-top: 0 none;
                    }
                }
                &.row-selected {
                    background: #ccc;
                }
                &:hover {
                    background-color: #f4f8fb;
                }
            }
            td {
                vertical-align: middle;
                padding: 15px 2px;
                line-height: 1.35;
                &.column-PartnerCode {
                    width: 10%;
                    padding-left: 8px;
                }
                &.column-PartnerName {
                    width: 20%;
                }
                &.column-LinkedFromHostname {
                    width: 15%;
                }
                &.column-borrow {
                    width: 16.5%;
                }
                &.column-active,
                &.column-wtb,
                &.column-audit,
                &.column-conxit {
                    width: 6.5%;
                    .fa-check {
                        color: #32b569;
                    }
                }
                &.column-wtb {
                    width: 12%;
                }
                &.cell-disable {
                    opacity: 0.4;
                }
                &.no-show {
                    color: #fff;
                }
            }
            // .partner-img {
            //     display: inline-block;
            //     width: 100px;
            //     height: 100px;
            //     overflow: hidden;
            //     background: #fff;
            //     img {
            //         max-width: 100%;
            //         position: relative;
            //         top: 25%;
            //     }
            // }
        }
        
    }
}
.react-bootstrap-table-pagination {
    margin: 0 15px;
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-align: end!important;
       -ms-flex-align: end!important;
          align-items: flex-end!important;
    .pagination-total {
        float: right;
        padding-right: 15px;
        margin-top: 10px;
    }
    div:first-child {
        padding-right: 0;
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
                 order: 13;
        float: right;
        .react-bs-table-sizePerPage-dropdown {
            float: right;
            #pageDropDown {
                padding: 8px 10px;
                background: #fff;
                color: #44474c;
                border: 1px solid #e8e8e8;
                margin-bottom: 10px;
                font-size: 14px;
                &:focus {
                    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.15);
                }
            }
            .dropdown-menu {
                min-width: 7rem;
                transform: translate3d(0px, -165px, 0px);
                top: -20px;
                left: -50%;
                will-change: transform;
                border-color: #e8e8e8;
                .dropdown-item {
                    color: #44474c;
                    font-size: 14px;
                    padding: 0;
                    a {
                        color: #44474c;
                        display: block;
                        padding: .25rem 1.5rem;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                    &:hover {
                        background-color: #f4f8fb;
                        color: #44474c;
                    }
                }
            }
        } 
    }
    .react-bootstrap-table-pagination-list {
        padding-left: 0;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        .react-bootstrap-table-page-btns-ul {
            margin-bottom: 0;
            .page-link {
                color: #c8c8c8;
                background-color: transparent;
                border: 0 none;
                padding: 0.75rem 0.65rem;
            }
            .page-item.active {
                .page-link {
                    color: #44474c;
                    background-color: transparent;
                    border: 0 none;
                    border-bottom: 2px solid #2ea2f7;
                    border-radius: 0;
                }
            }
        }
    }
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}
.form-control {
    &.filters {
        height: 100%;
        opacity: 1;
        transition: height 0.2s, visibility 0.2s, opacity 0.5s linear;
    }
}

.body--filter-close {
    .form-control {
        &.filters {
            height: 0 !important;
            opacity: 0;
            visibility: 0;
            transition: height 0.2s, visibility 0.2s, opacity 0.5s linear;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }
}

#partner-info { 
    #top-partner-menu {
        margin-bottom: 35px;
        .goBack {
           color: #c5c5c5; 
        }
    }
    #left-column-profile,
    #right-column-profile {
        h6 {
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
        }
        .item-group {
            margin-bottom: 15px;
            padding-top: 15px;
        }
    }
    #left-column-profile {
        border-right: 1px solid #e0e0e0;
        .imageloader {
            min-height: 5rem;
        }
        h4 {
            font-weight: 300; 
        }
        button {
            margin-top: 20px;
            margin-bottom: 30px;
            &.btn-secondary {
                border-color: #e3e3e3;
                background: #fff;
                color: #4b525a;
            }
        }
        .item-group {
            border-top: 1px solid #e1e1e1;
            &.bottom {
                border-bottom: 1px solid #e1e1e1;
                padding-bottom: 15px;
                .form-group {
                    margin-bottom: 0;
                }
            }
            p {
                margin-bottom: 0;
            }
            .col-left {
                border-left: 1px solid #e1e1e1;
            }
            .active {
                color: #32b569;
            }
            .disabled {
                color: red;
            }
        }
        .toggleCheck {
            position: relative;
            display: block;
            padding-left: 20px;
            cursor: pointer;
            margin-bottom: 5px;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            .form-check-input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked ~ .checkmark {
                    background-color: #32b569;
                    &:after {
                        display: block;
                    }
                }
                
            }
            .checkmark {
                position: absolute;
                top: 3px;
                left: 0;
                height: 15px;
                width: 15px;
                border-radius: 5px;
                border: 1px solid #e0e4e7;
                background-color: #e8edf0;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 5px;
                    top: 2px;
                    width: 4px;
                    height: 8px;
                    border: solid white;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
            &:hover input ~ .checkmark {
                background-color: #e8edf0;
            }
        }
        .toggleSwitch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
            margin-top: 10px;
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #e0e1e5;
                -webkit-transition: .4s;
                transition: .4s;
                &:before {
                    position: absolute;
                    content: "";
                    height: 16px;
                    width: 16px;
                    left: 2px;
                    bottom: 2px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                }
                &.round {
                    border-radius: 20px;
                    &:before {
                        border-radius: 50%;
                    }      
                }
            }
            input {
                display:none;
                &:checked + .slider {
                    background-color: #32b569;
                    &:before {
                        -webkit-transform: translateX(20px);
                        -ms-transform: translateX(20px);
                        transform: translateX(20px);
                    }
                }
                &:focus + .slider {
                    box-shadow: 0 0 1px #32b569;
                }
            }
        }

        .flag {
            margin: 4px 0 0 0;
        }
        .p-2 {
            padding: .2rem!important
        }
    }
    #right-column-profile {
        word-wrap: break-word;
        #PartnerType {
            height: 50px;
        }
    }
    label {
        text-transform: uppercase;
        color: #888b94;
    }
    .form-control {
        background: #f4f8fb;
        font-size: 14px;
    }
    code {
        background: #f4f8fb;
        display: block;
        white-space: pre-wrap;
        padding: 15px;
        border: 1px solid #e0e0e0;
        border-radius: 5px; 
    }
}
#iframe-partner {
    max-width: 740px;
}